body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-110px;
  width:1092px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:2906px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u906 {
  position:absolute;
  left:110px;
  top:14px;
  width:1092px;
  height:2906px;
}
#u907 {
  position:absolute;
  left:2px;
  top:1445px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:122px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:111px;
  top:15px;
  width:1091px;
  height:122px;
}
#u909 {
  position:absolute;
  left:2px;
  top:53px;
  width:1087px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u910 {
  position:absolute;
  left:199px;
  top:29px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u912 {
  position:absolute;
  left:358px;
  top:31px;
  width:70px;
  height:22px;
  font-size:12px;
  color:#199ED8;
}
#u913 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u914 {
  position:absolute;
  left:448px;
  top:31px;
  width:70px;
  height:22px;
  font-size:12px;
  color:#199ED8;
}
#u915 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:20px;
}
#u916 {
  position:absolute;
  left:199px;
  top:69px;
  width:797px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u918 {
  position:absolute;
  left:199px;
  top:103px;
  width:208px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u920 {
  position:absolute;
  left:628px;
  top:122px;
  width:82px;
  height:40px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u921 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u922 {
  position:absolute;
  left:207px;
  top:190px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u923 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u924 {
  position:absolute;
  left:222px;
  top:205px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u925 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u926 {
  position:absolute;
  left:226px;
  top:245px;
  width:864px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u928 {
  position:absolute;
  left:207px;
  top:343px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u929 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u930 {
  position:absolute;
  left:222px;
  top:358px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u931 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u932 {
  position:absolute;
  left:207px;
  top:2190px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u933 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u934 {
  position:absolute;
  left:222px;
  top:2203px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u935 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  position:absolute;
  left:226px;
  top:2306px;
  width:881px;
  height:488px;
  overflow:hidden;
}
#u936_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:488px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u936_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:475px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:475px;
}
#u938 {
  position:absolute;
  left:2px;
  top:230px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:480px;
}
#u939 {
  position:absolute;
  left:316px;
  top:0px;
  width:238px;
  height:480px;
}
#u940 {
  position:absolute;
  left:2px;
  top:232px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:475px;
}
#u941 {
  position:absolute;
  left:632px;
  top:0px;
  width:238px;
  height:475px;
}
#u942 {
  position:absolute;
  left:2px;
  top:230px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u943 {
  position:absolute;
  left:226px;
  top:2270px;
  width:438px;
  height:19px;
  font-size:16px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  white-space:nowrap;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u945 {
  position:absolute;
  left:207px;
  top:852px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u946 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u947 {
  position:absolute;
  left:222px;
  top:867px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u948 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u949 {
  position:absolute;
  left:226px;
  top:904px;
  width:864px;
  height:166px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:438px;
}
#u951 {
  position:absolute;
  left:217px;
  top:395px;
  width:673px;
  height:438px;
}
#u952 {
  position:absolute;
  left:2px;
  top:211px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u953 {
  position:absolute;
  left:207px;
  top:1079px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u954 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u955 {
  position:absolute;
  left:222px;
  top:1094px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u956 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:476px;
}
#u957 {
  position:absolute;
  left:226px;
  top:1138px;
  width:844px;
  height:476px;
}
#u958 {
  position:absolute;
  left:2px;
  top:230px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u959 {
  position:absolute;
  left:207px;
  top:1630px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u960 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u961 {
  position:absolute;
  left:222px;
  top:1645px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u962 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:479px;
}
#u963 {
  position:absolute;
  left:222px;
  top:1686px;
  width:848px;
  height:479px;
}
#u964 {
  position:absolute;
  left:2px;
  top:232px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
