body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-110px;
  width:1092px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:1266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u965 {
  position:absolute;
  left:110px;
  top:14px;
  width:1092px;
  height:1266px;
}
#u966 {
  position:absolute;
  left:2px;
  top:625px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:135px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:111px;
  top:15px;
  width:1091px;
  height:135px;
}
#u968 {
  position:absolute;
  left:2px;
  top:60px;
  width:1087px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:199px;
  top:29px;
  width:71px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u971 {
  position:absolute;
  left:358px;
  top:31px;
  width:70px;
  height:22px;
  font-size:12px;
  color:#199ED8;
}
#u972 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u973 {
  position:absolute;
  left:448px;
  top:31px;
  width:70px;
  height:22px;
  font-size:12px;
  color:#199ED8;
}
#u974 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:40px;
}
#u975 {
  position:absolute;
  left:199px;
  top:69px;
  width:797px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:199px;
  top:117px;
  width:168px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u979 {
  position:absolute;
  left:628px;
  top:137px;
  width:82px;
  height:40px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u980 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u981 {
  position:absolute;
  left:207px;
  top:215px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u982 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u983 {
  position:absolute;
  left:222px;
  top:230px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u984 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u985 {
  position:absolute;
  left:226px;
  top:267px;
  width:864px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u987 {
  position:absolute;
  left:207px;
  top:354px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u988 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u989 {
  position:absolute;
  left:222px;
  top:369px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u990 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u991 {
  position:absolute;
  left:226px;
  top:406px;
  width:864px;
  height:248px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u993 {
  position:absolute;
  left:207px;
  top:664px;
  width:900px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u994 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u995 {
  position:absolute;
  left:222px;
  top:679px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u996 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:226px;
  top:767px;
  width:881px;
  height:441px;
  overflow:hidden;
}
#u997_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:441px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u997_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:413px;
}
#u998 {
  position:absolute;
  left:2px;
  top:0px;
  width:238px;
  height:413px;
}
#u999 {
  position:absolute;
  left:2px;
  top:198px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:424px;
}
#u1000 {
  position:absolute;
  left:321px;
  top:1px;
  width:238px;
  height:424px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:204px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:423px;
}
#u1002 {
  position:absolute;
  left:640px;
  top:0px;
  width:238px;
  height:423px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:204px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1004 {
  position:absolute;
  left:226px;
  top:731px;
  width:631px;
  height:19px;
  font-size:16px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  white-space:nowrap;
}
